.right-1 {
  width: fit-content;
  height: 100%;
  padding: 4rem 2rem 4rem 3rem;
}

.right-2 {
  background-color: #f6f9fc;
  border: 1px solid red;
  width: 50%;
  border-radius: 0rem 2rem 2rem 0rem;
  padding: 4rem 2rem 4rem 3rem;

}


@media screen and (max-width: 800px) {
    .right-1{
      width: 100% !important;
      padding: 0 !important;
    }
}